* text=auto
*.cs diff=csharp text=auto
ProjectSettings/ProjectVersion.txt eol=lf
*.cshtml text eol=lf
*.js text eol=lf
*.json text eol=lf
*.java text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.cc text eol=lf
*.m text eol=lf
*.mm text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.inl text eol=lf
*.py text eol=lf
*.go text eol=lf
*.asset text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.controller text eol=lf
*.spriteatlas text eol=lf
*.mat text eol=lf
*.shader text eol=lf
*.meta text eol=lf
*.asmdef text eol=lf
*.sh text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
*.nuspec text eol=lf
*.config text eol=lf
*.cginc text eol=lf
*.xml text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.cmake text eol=lf
*.def text eol=lf
*.md text eol=lf
*.methods text eol=lf
*.proto text eol=lf
*.gradle text eol=lf
*.css text eol=lf
*.ini text eol=lf
*.yml text eol=lf
*.tf text eol=lf
*.tfvars text eol=lf
*.svg text eol=lf
go.mod text eol=lf
go.sum text eol=lf
gradlew text eol=lf
gradle-wrapper.properties text eol=lf
CMakeLists.txt text eol=lf
Makefile text eol=lf
*.txt text
*.sln text
*.csproj text
*.eot binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.dll binary
*.pdb binary
*.mdb binary
*.exe binary
*.jar binary
*.a binary
*.o binary
*.dylib binary
*.so binary
*.bmp binary
*.tga binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.fbx binary
*.ico binary
*.unitypackage binary
.editorconfig text
.gitattributes text
.gitignore text
LICENSE text
CONTRIBUTORS text
